* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body {
    background-color: #FFFFFF;
    max-width: 1900px;
}

#smiley {
    width: 15%;
    height:20%;
    object-fit: cover;
    display: flex;
    margin: auto;
    margin-top: 130px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#coming {
    width: 40%;
    height:20%;
    object-fit: cover;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 0;
}
footer {
    padding: 20px;
}
.social-links svg {
    height: 20px;
    margin: 30px;
    color: white;
    font-size: 25px;
    position: sticky;
    fill: #0a70c7;
}

.social-links a {
    text-decoration: none;
    color: #0a70c7;
}

.social-links svg:hover {
    color: #e472ff;
    fill: #e472ff;
    transition-duration: 0.3s;
}

.social-links {
    text-align: center;
}

#onderkant h5 {
    text-align: center;
    color: #0a70c7;

}
@media only screen and (max-width: 949px) {
    #smiley {
        width: 40%;
        height:20%;
        object-fit: cover;
        display: flex;
        margin: auto;
        margin-top: 130px;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    #coming {
        width: 70%;
        height:20%;
        object-fit: cover;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .social-links svg {
        height: 20px;
        margin: 30px;
        color: white;
        font-size: 25px;
        position: sticky;
        fill: #0a70c7;
    }
}